{% extends 'base_content.html.twig' %}

{% block title %}Управление комментариями{% endblock %}

{% block content %}
    <h1>Управление комментариями ({{ pagination.totalItemCount }})</h1>

    {% include 'partial/admin_list.html.twig' with { pagination: pagination } %}
{% endblock %}
