{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    {% include "articles/blocks/articles_list.html.twig" %}

                    {{ render(controller('App\\Controller\\PartialController::lastComments')) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
