<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/ico" sizes="16x16" href="{{ asset('/favicon.ico') }}">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    <title>{% block title %}Spill-Coffee-On-The-Keyboard{% endblock %}</title>
</head>
<body>
{% include "base/header.html.twig" %}

{% block body %}{% endblock %}

{% include "base/footer.html.twig" %}

{% block js %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
