<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/ico" sizes="16x16" href="{{ asset('/favicon.ico') }}">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    <title>{% block title %}Spill-Coffee-On-The-Keyboard{% endblock %}</title>
    <meta name="keywords" content="{% block keywords %}{% endblock %}"/>
</head>
<body>
{% if is_granted('ROLE_PREVIOUS_ADMIN') %}
    <div class="alert alert-warning">
        Имперсонализация включена.&nbsp;
        <a href="{{ path('app_home', {'_switch_user': '_exit'}) }}">Выйти</a>
    </div>
{% endif %}

{% include "base/header.html.twig" %}

{% block body %}{% endblock %}

{% include "base/footer.html.twig" %}

{% block js %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
