{% extends 'base.html.twig' %}

{% block title %}Изменение статьи{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {% if showError %}
                <div class="col-12">
                    <div class="alert alert-danger" role="alert">
                        Не удалось изменить статью
                    </div>
                </div>
            {% endif %}

            {% include 'admin/article/form.html.twig' with { btn_text: 'Изменить' } %}
        </div>
    </div>
{% endblock %}
