{% extends 'email/base.html.twig' %}

{% block content %}
    <div class="content">
        <table>
            <tr>
                <td>
                    <h1>Добро пожаловать, <b>{{ email.toName }}</b>!</h1>
                    <p class="lead">Наконец-таки вы с нами. Переходите скорее на сайт.</p>
                    <a class="btn" href="{{ url('app_home') }}">На сайт</a>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}
